@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  
}

body.blue {
  background-color: #428aa6;
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 100%;
  height: 40vh;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.containerr {
    margin: 75px auto 50px;
  width: 47.5%;
  /* max-width: 800px; */
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 300px;
  border:'0'
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #song-1 img,
#item-2:checked ~ .cards #song-2 img,
#item-3:checked ~ .cards #song-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.player {
  background-color: #fff;
  border-radius: 8px;
  min-width: 320px;
  padding: 16px 10px;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}

.play-icon {
  margin-right: 10px;
}

.song-info {
  width: calc(100% - 32px);
  display: none;
}

.song-info.active {
  display: block;
}

.song-info .title {
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle, .time {
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
}

.time {
  color: #a5a5a5;
  font-weight: 500;
  margin-left: auto;
}

.progress-bar {
  height: 3px;
  width: 100%;
  background-color: #e9efff;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #2992dc;
  border-radius: 6px;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform .4s ease-in;
}

#item-1:checked ~ .player #test {
  transform: translateY(0);
}

#item-2:checked ~ .player #test {
  transform: translateY(-40px);
}

#item-3:checked ~ .player #test {
  transform: translateY(-80px);
}


body {
  background: #eee;
  font-family: "Tahoma";
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#scene {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 75%;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
}

#left-zone {
  background: #fff;
  height: 75%;
  flex-grow: 0;
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: left;
}

.list {
  display: flex;
  list-style: none;
  align-content: stretch;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.item {
  position: relative;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] ~ label {
  display: block;
  opacity: 0.5;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

input[type="radio"] ~ label:first-letter {
  text-transform: uppercase;
}

input[type="radio"] ~ label:hover {
  opacity: 0.75;
  cursor: pointer;
}

.label_Shipping:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6yi0djlxZnT8c0nYgWrX_pimeI7rSixOCzA&s');
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.label_Customer_Support:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url('https://as2.ftcdn.net/v2/jpg/01/52/52/93/1000_F_152529317_kS2PgzLscGvItJTJ4BsmQ4vyYZ3ZU5O4.jpg');
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.label_Payment_Processing:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url('https://static.thenounproject.com/png/3240680-200.png');
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.label_Product_Management:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url('https://static.thenounproject.com/png/2092445-200.png');
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.content {
  position: absolute;
  left: 550px;
  top: -400px;
  width: 650px;
  margin-top: 20px;
  height: 400px;
  animation-duration: 0.75s;
  animation-name: slideout;
  animation-timing-function: ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content_Shipping .picto {
  height: 100px;
  width: 100px;
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/83067-200.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_Shipping h1 {
  color: #D64541;
}

.content_Customer_Support .picto {
  height: 100px;
  width: 100px;
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/53209-200.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_Customer_Support h1 {
  color: #F5D76E;
}

.content_Payment_Processing .picto {
  height: 100px;
  width: 100px;
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/14333-200.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_Payment_Processing h1 {
  color: #00B16A;
}

.content_Product_Management.picto {
  height: 100px;
  width: 100px;
  /* background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_Product_Management h1 {
  color: #F27935;
}

h1:first-letter {
  text-transform: uppercase;
}

p {
  max-width: 50%;
  text-align: center;
}

input[type="radio"]:checked ~ label {
  opacity: 1;
  animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.label_Shipping {
  color: #D64541;
  border-right: solid 4px #D64541;
}

.label_Customer_Support {
  color: #F5D76E;
  border-right: solid 4px #F5D76E;
}

.label_Payment_Processing {
  color: #00B16A;
  border-right: solid 4px #00B16A;
}

.label_Product_Management{
  color: #F27935;
  border-right: solid 4px #F27935;
}

input[type="radio"]:checked ~ .content {
  animation-duration: 0.75s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#middle-border {
  background-color: #eee;
  height: 75%;
  flex-grow: 1;
  max-width: 2px;
  z-index: 0;
}

#right-zone {
  background: #fff;
  height: 100%;
  flex-grow: 3;
}

@keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}
